*{
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color:white;
    height: 60px;
    align-items: center;
    padding: 0px 15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;


   
    
}
.bannerDiv{
    background-image:url('bannernew.jpg'); 
    height: 300px;
    position: relative;
    margin-bottom: 30px;
}
.headerlink{
    margin-right: 10px;
    text-decoration: none;
    color: rgb(77, 165, 216);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
   
}
.banner{
    text-align: center;
    position: absolute;
    top: 30px;
    left: 0px;
    right: 0px;
    color: white;
    padding-top: 50px;
    padding-left: 200px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
}
.imgMainDiv{
    display: flex; 
    justify-content: center;
    margin: 30px 0px;
    flex-wrap: wrap;
}
.imgResDiv{
    flex: 25%;
}
.imgDiv{
    
    border: 1px solid black;
    border-radius: 30px;
    margin: 20px;
 
}
.imgDiv img{
    width: 100%;
    height: 180px;
     
    border-radius: 30px 30px 0px 0px;

}
.imgDiv h3{
    text-align: center;
    color: orange;
}
.imgDiv p{
    padding: 0px 20px;
    text-align: center;
}
.imgDiv .prisePurchaseDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.imgDiv .prise{
    font-size: 20px;
    color: red;
}
.imgDiv .purchase{
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    background-color: rgb(77, 165, 216);
    color: white;
    width: 100px;

}
.footer{
    background-color: white;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.footerList{
    list-style-type: none;
    
}
.footerList li{
    margin-top: 10px;
}
.footerList a{
    text-decoration: none;
    color: rgb(77, 165, 216);
    font-size: 15px;

}


.mobileIcon{
    display: none;
}


@media  screen and (max-width: 900px){
    .imgResDiv{
        flex: 50%;
    }
}

@media  screen and (max-width: 600px) {
    .imgResDiv{
        flex: 100%;
    }
    .mobileLinkDisplay{
        display: none;
    }
    .mobileLink{
        display: flex;
        flex-direction: column;
    }
    .header{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .headerimg{
        display: none;
    }
    .mobileIcon{
    display: block;
    }
    .mainImg{
        flex-direction: column;
    }
    .imgDiv{
        margin-bottom: 30px;
    }
    .footer{
        flex-direction: column;
        height: auto;
    }
    .footerList li{
        margin-right: 10px;
    }

}